
.menuButton{
	margin-left: 1%;
	font-size: 36px;
	color: white;
}
.mainContainer2{
	width: 100%;
}

.container2{
	width: 70%;
	margin: 0 auto;
}

@media only screen and (min-width: 1500px) {
	.container2{
		width: 70%;
		margin: 0 auto;
		height: 40vh;
	}

	.carousel-inner img{
		width:100%;
		height: 40vh;
	}
}

.carousel-indicators{
	margin: 0 auto;
}

.item{
	width: 100%;
	height: 250px;
}

.bodyClass{
	background-color: white;
	min-height: 170vh;
}

.search{
	width: 50%;
	margin-top: 2.0%;
	margin-left: 15%;
	height: 30px;
	border-radius: 10px;
	margin-bottom: 5px;
	color: black;
}

.imageClass{
	margin-left: 5.0rem;
}

.btns{
	margin-top: 2.0%;
	font-size: 12px;
	float: right;
	background-color: transparent;
	margin-right: 1.0%;
	position:relative;
}

.btns:hover{
	text-shadow: 2px 2px 5px #0a5abd;
}

.btns[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-10px;
   right:-10px;
   font-size:.7em;
   background:#0a5abd;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}

.upBar{
  color:white;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  background: linear-gradient(to right, #0a5abd 0%, black 100%, transparent 50%);
  padding-bottom: 0.2rem;
}

.mainName{
  margin-left: 1.0rem;

}
.mainName ul{
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
  float: right;
  margin-right: 44.0rem;

}

.mainName i{
  float:right;
  margin-right:-42.0rem;
}

@media only screen and (max-width: 1500px) {
  .mainName ul {
    margin-right: 8.0rem;
  }
  .mainName i{
    float:right;
    margin-right:-12.5rem;
  }
}


@media only screen and (max-width: 1250px) {
  .mainName ul{
    display: none;
  }
}

.mainName li{
  float: right;
}

.mainName li a{
 display: block;
 color: white;
 text-align: center;
 padding: 0.5rem 2.0rem;
 text-decoration: none;
 font-size: 20px;
 height: 3.0rem;
}

.mainName li a:hover{
  border-bottom: 3px solid #ffffff;
}

.mainName li a.active{
  border-bottom: 3px solid white;
}


.textClass1{
	background-color: white;
}

.textClass1 h2{
  margin-left: 10%;
  margin-right: 10%;
	font-family: "Lucida Console", Monaco, monospace;
}

.textClass1 p{
  margin-left: 10%;
  margin-right: 10%;
	font-family: "Lucida Console", Monaco, monospace;
}

/* animated button starts */
.buttonAni {
  border-radius: 4px;
  background-color: green;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonAni span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonAni span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonAni:hover span {
  padding-right: 25px;
}

.buttonAni:hover span:after {
  opacity: 1;
  right: 0;
}

/* animated button ends */

div.gallery {
  border: 1px solid #ccc;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  background-color: white;
  margin-bottom: 10px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

/* rating */
.checked {
  color: orange;
}
